*.zip
*.tgz
*.tar.gz
*.sql

.htaccess
.htpasswd
/config.php
admin/config.php
php.ini
robots.txt
sitemap.xml
sitemap-main.xml

download/
image/catalog/*
image/cache/*
image/*
system/storage/cache/*
system/storage/logs/*
system/storage/modification/*
system/storage/session/*
system/storage/upload/*
system/storage/download/*
backupSQL/*

!index.html

